@import "./variables.scss";
.btn{
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    &:hover{
      background-color: $brand-primary;
      color: $light-0;
      svg{
        fill: $light-0;
        &>*{
          stroke: $brand-primary;
        }
      }
    }
  }