@import "./variables.scss";

.container{
  background-color: $light-0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  header{
    padding: 0 2rem;
    & > h1 sup{
        color: $brand-primary;
        font-size: 0.5em;
    }
    .main_navbar{
      background-color: $light-0;
    }
  }
  main{
    display: flex;
    flex-direction: column;
    .finance_banner{
      padding: 0 2rem;
      color: $light-0;
      background-color: $dark-2;
      border-radius: 0 0 0 2rem;
      @media (max-width: $screen-tablet){
        display: none;
      }
    }
    .main_content{
      padding: 2rem;
      width: 100vw;
      max-width: 1440px;
      margin: auto;
      display: flex;
      gap: 50px;
      .search_sidebar{
        width: 300px;
        flex-shrink: 0;
        @media (max-width: $screen-tablet){
          display: none;
        }
        
      }
      .listing_feed{
        width: auto;
        & > h1{
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
        .listing_grid{
          display:grid;
          padding-bottom: 2rem;
          grid-template-columns: repeat(3, 1fr);
          gap: 15px;
          @media (max-width: $screen-tablet){
            grid-template-columns: repeat(2, 1fr);
          }
          @media (max-width: $screen-mobile){
            grid-template-columns: 1fr;
          }
          
        }
      }
    }
  }
  .footer{
    background-color: $dark-2;
    border-radius: 0 2rem 0 0;
    color: $light-0;
    padding: 0 2rem;
  }
}