@import "./variables.scss";
.card{
    background-color: $light-0;
    border-radius: 1rem;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    @media(max-width: $screen-mobile){
        border-radius: 0;
        box-shadow: none;
    }
    .gallery{
        width: 100%;
        position: relative;
        .image_container{
            img{
                width: 100%;
                height: auto;
                @media(max-width: $screen-mobile){
                    border-radius: 1rem;
                }
            }
            @media(max-width: $screen-mobile){
                display: flex;
                overflow-x: auto;
                gap: 2%;
                &:after{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 5%;
                    top: 0;
                    right: 0;
                    background: rgba(255, 255, 255, 0.3);
                }
                img{
                    width: 30%;
                }
                &::-webkit-scrollbar {
                    height: 0rem;
                }
            }
        }
        .listing_tag_container{
            position: absolute;
            top: 0.625rem;
            left: 0.625rem;
        }
        .spec_list_container{
            position: absolute;
            bottom: 0.625rem;
            left: 0.625rem;
            width: calc(100% - 1.3rem);
            overflow-x: scroll;
            padding: 2px 0;
            .spec_list{
                gap: 0.3125rem;
                display: flex;
            }
            &::-webkit-scrollbar {
                width:  20px;
                height: 0.3rem;
            }
            &::-webkit-scrollbar-track {
                background: transparent;  
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(40, 35, 56, 0.7);
                border-radius: 999px;
            }
        }
    }
    .details{
        padding: 0.625rem;
        position: relative;
        .card_footer_top{
            display: flex;
            align-items: start;
            gap: 10px;
            .description{
                margin-right: auto;
                .name{
                    font-weight: 400;
                    margin: 0;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                .derivative{
                    font-weight: 400;
                    margin: 0;
                    font-size: 0.75rem;
                    line-height: 1.1rem;
                    color: $grey;
                }
            }
            .favourite{
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
                height: 1.5rem;
                margin-top: -2px;
                svg{
                    height: 100%;
                    width: auto;
                }
            }
        }
        .card_footer_bottom{
            display: flex;
            justify-content: space-between;
            align-items: end;
            @media (max-width: $screen-mobile) {
                justify-content: start;
                align-items: start;
            }
            .spec_list{
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                width: 50%;
                flex-shrink: 0;
                flex-wrap: wrap;
                color: $grey;
                margin: 0;
                padding-top: 0.5rem;
                &:empty{
                    display: none;
                }
                li{
                    span{
                        padding-right: 0.5rem;
                    }
                    &:not(:last-child):after{
                        content: "|";
                        padding-right: 0.5rem;
                    }
                }
            }
            .pricing_button{
                display: block;
                padding-top: 0.5rem;
                .price{
                    margin: 0;
                    font-size: 0.75rem;
                    span{
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                }
                .contract_type{
                    margin: 0;
                }
            }
            
            .view_button{
                border-radius: 1rem;
                padding: 0.75rem 1.5rem;
                background-color: $brand-primary;
                border: none;
                color: $light-0;
                cursor: pointer;
                transition: background-color 0.3s ease-out;
                &:hover{
                    background-color: $brand-primary-darker;
                }
            }
        }
        
    }
}