//colors
$dark-0: #000;
$dark-1: #3F3A50;
$dark-2: #282338;
$grey: #55595D;
$light-0: #fff;
$light-1: #E5E5E5;
$light-2: #F6F7FB;
$brand-primary: #7572FF;
$brand-primary-darker: hsl(241, 100%, 65%);
$brand-secondary: #82F7FF;


//building desktop first
//breakpoints defined as @media(max-width: xx){...}
$screen-tablet: 1000px;
$screen-mobile: 550px;